<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML tables</title>
</head>
<body>

<table border="2" align="center" width="80%" cellspacing="0"> <!-- Simple Table HTML -->
    <tr>
        <th>столбец</th>
        <th>столбец</th>
        <th>столбец</th>
    </tr>
    <tr>
        <td colspan="3">ячейка</td>
    </tr>
    <tr>
        <td>ячейка</td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
    <tr>
        <td>ячейка</td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
</table>
<table border="2" align="center" width="80%" cellspacing="0"> <!-- Simple Table HTML -->
    <tr>
        <th>столбец</th>
        <th>столбец</th>
        <th>столбец</th>
    </tr>
    <tr>
        <td rowspan="3">ячейка</td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
    <tr>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
    <tr>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
</table>
<table border="2" align="center" width="80%" cellspacing="0"> <!-- Simple Table HTML -->
    <tr>
        <th>столбец</th>
        <th>столбец</th>
        <th>столбец</th>
    </tr>
    <tr>
        <td rowspan="3"><table border="2" align="center" width="80%" cellspacing="0">
                                <tr>
                                    <td>inner table cell</td>
                                    <td>inner table cell</td>
                                    <td>inner table cell</td>
                                </tr>
                                <tr>
                                    <td>inner table cell</td>
                                    <td>inner table cell</td>
                                    <td>inner table cell</td>
                                </tr>
                        </table></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
    <tr>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
    <tr>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
</table>

</body>
</html>