<!-- Tags of top level -->
<html> <!-- General container -->
    <head> <!-- Container for <title></title> and <meta></meta> - document title tags -->
        <title>Some title of site</title>
    </head>
    <body style = "background-color: #DF8C5D"> <!-- Container for (all kinds of tags) (all remaining) tags
                                               with universal attribute of color that fill background -->

        <h1>Some headline of your site</h1> <!-- there are six different levels of headlines -->
        <!-- Block level elements -->
        <div> <!-- Universal block element -->
            <p> <!-- Paragraph tag -->
                Some paragraph
            </p>
            <hr> <!-- Horizontal straight line -->
            <pre> <!-- Preformat tag with save a format of some text unlike <p></p> -->
                first string
                second string
                third string
                and more...
            </pre>
            <!-- Similarly == Analogically -->
            <p>
                first string<br> <!-- Crossing to the next line -->
                second sring<br>
                third string<br>
                <b>And more...</b> <!-- Bolder font (type of letter) -->
                <em>Some nice message</em> <!-- Italics font -->
                <big>Big type of font</big>
                <small>Small letters</small>
            </p>
            <ul> <!-- List -->
                <li>Text</li> <!-- Unnumbered list -->
                <li>Text</li>
                <li>Text</li>
                <li>Text</li>
                <li>Text</li>
            </ul>
        </div>

    <img src="SomeImage.png" alt="ImageDoesNotExist"> <!-- Tag for inline image with attributes
                            src - source - relative path to folder in format "~/usr/project/image.png"
                            alt - alternative text for the case when the picture is not available-->

    </body>

</html>
